<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SLINK!</title>
  <link rel="stylesheet" href="style.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
<header>
  <div class=headertext>
    SLiNK!
  </div>
  <div class=subheadtext>
    Want to save all those great links you share in Slack?
    <br>
    Use '/slink' + 'example.com' to automatically archive your team's links in SLiNK!
  </div>
</header>
<div class=content>
<tbody>
  {{#each docs}}
  <tr>
    {{docs}}<br>
    <td><b>Link: </b><a href='{{text}}' target="_blank">{{text}}</a></td>
    <td><b>User: </b>{{user_name}}</td>
    <td><b>Channel: </b>{{channel_name}}</td>
  </tr>
  {{/each}}
</tbody>
</div>
