<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<tbody>
  {{#each docs}}
  <tr>
    {{docs}}<br>
    <td>
      <b>Link added:</b> <a target="_blank" href='{{text}}'>{{text}}</a> <b>From User: </b>{{user_name}}
    </td>
  </tr>
  {{/each}}
</tbody>
